.contenedor-cards {
    width: 100%;
    padding: 5rem;
    background-color: #005d70;
    display: flex;
    justify-content: space-around;
    color: rgb(16, 16, 16);
}

.contenedor-cards h2 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: #474747 3px 5px 2px;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.cards {
    margin: 20px;
    transition: 0.2s;
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
    background: #ed9702;
    
}

.cards:hover {
   cursor: pointer;
   transform: translateY(-3px) scale(1.05);
   
}

.boton {
    color: rgb(21, 21, 21);
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
    background: #ed9702;
    box-shadow:  5px 5px 7px #c98002,
             -5px -5px 7px #ffae02;
}

.boton:hover {
    border-radius: 50px;
background: #ed9702;
box-shadow: inset 5px 5px 7px #c98002,
            inset -5px -5px 7px #ffae02;
}

.boton a {
    text-decoration: none;
    color: #242424;
}

.boton a:hover {
    color: #242424;
}

