.contenedor-cards {
    width: 100%;
    padding: 5rem;
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-around;
    color: rgb(16, 16, 16);
    border-bottom: 1px solid rgb(74, 74, 74);
}

.contenedor-cards h2 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: #474747 3px 5px 2px;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.cards {
    margin: 20px;
    transition:all 0.1s;
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.contenedorImg {
    height: 300px;
    width: 100%;
}

.cards:hover {
   cursor: pointer;
   transform: translateY(0px) scale(1.05);
   
}

.btn-demo {
    transition: all 0.2s;
    color: rgb(21, 21, 21);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #e69a44;     

             
}

.btn-demo:hover {
    background-color: #ffaa4a;
    box-shadow: 0px 6px 10px rgba(17, 17, 17, 0.4);
    color: #171717;
    transform: translateY(-3px);
}

.btn-demo a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #171717;
}

.btn-demo a:hover {
    color: #171717;
}

.btn-repo {
    transition: all 0.2s;
    color: rgb(21, 21, 21);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #64d658;         
}

.btn-repo:hover {
    background-color: #69de59;
    box-shadow: 0px 6px 10px rgba(17, 17, 17, 0.4);
    color: #171717;
    transform: translateY(-3px);
}

.btn-repo a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #171717;
}

.btn-repo a:hover {
    color: #171717;
}




@media screen and (max-width: 750px) {
    .contenedor-cards {
        padding: 2rem;
    }

    .contenedor-cards h2 {
        font-size: 65px;
    }
}

