button {
    border: none;
    background: none;
}

.posicion {
    position: fixed;
}


.navbar {
    z-index: 100;
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: #005d70; */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-brand img {
    transition: all 0.2s;                     
  }

  .navbar-brand img:hover {
    transform: translateY(0px) scale(1.05);
  }

.list-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    list-style: none;
    
}

.list-container li {
    padding: 10px;
    margin: 0 20px 0 0;
    border-radius: 10px;
                 
                
}

.list-container li  button a {
    text-decoration: none;
    color: #313131;
    padding: 5px;
    font-size:larger;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.list-container li:hover {
    transition: all  0.2s;
    cursor: pointer;
    border-radius: 10px;
    background: rgba(255,255,255,0.5);        
}

.navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    transition:  .5s ease;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
    transition: all 0.3s;
    
    
}

.app__navbar-smallscreen_overlay .closeIcon {
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
}

.app__navbar-smallscreen_links  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    list-style: none;
}
.app__navbar-smallscreen_links li {
    padding: 5px;
}

.closeIcon {
    color: #004f5f;
}

.app__navbar-smallscreen_links li button a {
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-weight: 600;
}

@media screen and (max-width: 760px) {
    .list-container {
        display: none;
    }
    .navbar-smallscreen {
        display: flex;
        border: none;
        background: none;
        font-size: 30px;
        color: rgb(29, 29, 29);
        margin-right: 20px;
    }
}