.about {
    width: 100%;
    padding: 78px;
    background-color: #FBAB7E;
    background-image: linear-gradient(0deg, #FBAB7E 0%, #F7CE68 100%);

}

.about img {
    height: auto;
    width: 350px;
    padding: 1rem;
    
}

.about-text {
    width: 550px;
}

.main {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.about-text h2 {
    color: rgb(42, 42, 42);
    text-shadow: 1px 3px 4px rgba(0,0,0,0.61);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: rgb(144, 144, 144);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    color: rgba(50, 50, 50, 0.994);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 25px;
    margin-bottom: 45px;
}


.about-icon_github {
    font-size: 40px;
    margin: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.about-icon_linkdin {
    font-size: 40px;
    margin: 1rem;
    text-decoration: none;
    color: #0e76a8;
    transition: 0.2s;
}

.about-icon_linkdin:hover {
    cursor: pointer;
    transform: translateY(-3px) scale(1.2);
}

.about-icon_github:hover {
    cursor: pointer;
    transform: translateY(-3px) scale(1.2);
}

@media screen and (max-width:750px) {
    .about img {
        display: none;
    }

    .about {
        padding: 2rem;
    }

    .main {
        padding: 1rem;
    }

    .about-text h2 {
        font-size: 60px;
        
    }
    
    .about-text h5 {
        
        font-size: 20px;
       
    }
    
    .about-text p {
        font-size: 20px;
    }

   
}





