.skills {
    width: 100%;
    padding: 78px;
    background: #616161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.skills-text {
    width: 550px;
}

.main-skills {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.skills-text h2 {
    color: rgb(33, 33, 33);
    text-shadow: 1px 3px 4px rgba(0,0,0,0.61);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}



.skills-text p {
    color: rgba(50, 50, 50, 0.994);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 25px;
}

.skills-list {
    margin-top: 5rem;
    padding-top: 5rem;
}


.skills-list li {
 list-style: none;
 font-size: 40px;
 transition: 0.2s;
}

.skills-list li:hover {
    cursor: pointer;
    transform: translateY(-3px) scale(1.05);
}

.skills-list li span {
    margin-left: 1rem;
    font-size: 18px;
   }


   @media screen and (max-width: 750px) {

    .skills {
        padding: 2rem;
    }

    .main-skills {
        padding: 0 1rem;
    }

    .skills-text h2 {
        font-size: 55px;
        
    }

    .skills-list {
        margin-top: 1rem;
        padding-top: 1rem;
        padding: 0 5rem;
        
    }

    .skills-list li {
        font-size: 30px;
    }

    .skills-list li span{
        font-size: 15px;
    }
    
    .skills-text p {
        font-size: 20px;
    }
    
    .about-text p {
        font-size: 20px;
    }

   }
